:root {
  --button-color: #37859e;
  --button-size: 3.5rem;
  --output-background: #00abe5;
  --output-color: white;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: none;
  border: none;
  color: var(--button-color);
  width: var(--button-size);
  height: var(--button-size);
}

.output {
  height: 8rem;
  display: flex;
  flex-direction: column;
  background: var(--output-background);
  color: var(--output-color);
}

.result,
.display {
  flex: 1 1 auto;
}
